<!DOCTYPE html>
<!-- Designined by CodingLab - youtube.com/codinglabyt -->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Crear nueva empresa </title>
  <link rel="stylesheet" href="../static/register_forms/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">




    <div class="content">


      <div class="title">Registro empresarial</div>
      <div>
      <form action=" {{url_for('.crear_nueva_empresa_ecomy')}} " method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nombre de la empresa</span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Usuario o E-mail</span>
            <input type="text" placeholder="Enter your username" required>
          </div>
          <div class="input-box">
            <span class="details">Telefono de contacto - CEO</span>
            <input type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">E-mail de recuperacion</span>
            <input type="text" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">Contrase;a</span>
            <input type="text" placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirmar contrase;a</span>
            <input type="text" placeholder="Confirm your password" required>
          </div>


          <div>

        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Tipo de empresa</span>


          <div class="category">

            </label><label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Supermecado</span>
            </label>

            <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Abastecedor</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Soda</span>
            </label>
          </div>

          <div class="category">

            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Mecanica</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Heladeria</span>
            </label>
            <label for="dot-3">
              <span class="dot three"></span>
              <span class="gender">Comida rapida</span>
            </label>

          </div>


          <div class="category">

            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Restaurante</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Repuestos</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Panaderia</span>
            </label>
          </div>


          <div class="category">

            <label for="dot-3">
              <span class="dot three"></span>
              <span class="gender">otro</span>
            </label>
          </div>




        </div>


        <div class="gender-details">
          <span class="gender-title">Logo o foto de perfil</span>
  
          <div>
            <input type="file" name="imagen" id="logoImage" />
          </div>
  
        </div>

          </div>
        </div>



        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>

      </div>
      
    </div>


  </div>

</body>

</html>