<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        ecomycr™ 
    </title>
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <!-- OWL CAROUSEL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- APP CSS -->
    <link rel="stylesheet" href="../static/store/css/grid.css">
    <link rel="stylesheet" href="../static/store/css/app.css">
</head>

<body>

    <!-- NAV -->
    <div class="nav-wrapper">
        <div class="container">
            <div class="nav">
                <a href="#" class="logo">
                    
                    <i class='bx bx-moon bx-tada main-color'></i>Ecomy<span class="main-color">Store™</span>
                </a>
                <ul class="nav-menu" id="nav-menu">
                    <li><a href=" {{url_for('.home')}} ">Home</a></li>
                    <li><a href="   {{url_for('.log')}}   ">Ecomy Socios™</a></li>
                    <li><a href=" {{url_for('.markett')}} ">Ecomy Repartidor™</a></li>
                    
                </ul>
                <!-- MOBILE MENU TOGGLE -->
                <div class="hamburger-menu" id="hamburger-menu">
                    <div class="hamburger"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END NAV -->

    <!-- HERO SECTION -->
    <div class="hero-section">
        <!-- HERO SLIDE -->
        <div class="hero-slide">
            <div class="owl-carousel carousel-nav-center" id="hero-carousel">
                <!-- SLIDE ITEM -->
                <div class="hero-slide-item">
                    <img src="../static/store/images/black-banner.png" alt="">
                    <div class="overlay"></div>
                    <div class="hero-slide-item-content">
                        <div class="item-content-wraper">
                            <div class="item-content-title top-down">
                                Ecomy Delivery™
                            </div>
                            <div class="movie-infos top-down delay-2">
                                <div class="movie-info">

                                    <i class="bx bxs-star"></i>
                                    <span>1.4Mill</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>


                                    <ul class="footer-menu">
                                        <li><a  style="font-weight: bold; color:#3ac3db; " href="#">Google Play Store</a></li>
                                    </ul>

                                </div>
                                <div class="movie-info">

                                    <ul class="footer-menu">
                                        <li><a  style="font-weight: bold; color:#3ac3db; " href="#">App Store</a></li>
                                    </ul>

                                </div>
                                <div class="movie-info">

                                    <ul class="footer-menu">
                                        <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppGallery</a></li>
                                    </ul>

                                </div>
                            </div>
                            <div class="item-content-description top-down delay-4">
                                <b>Express inmediato</b> amet consectetur adipisicing elit. Quas, possimus eius. Deserunt non odit, cum vero reprehenderit laudantium odio vitae autem quam, incidunt molestias ratione mollitia accusantium, facere ab suscipit.
                            </div>
                            <div class="item-action top-down delay-6">
                                <a href="#" class="btn btn-hover">
                                    <i class="bx bxs-right-arrow"></i>
                                    <span>Descargar</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END SLIDE ITEM -->
                <!-- SLIDE ITEM -->
                <div class="hero-slide-item">
                    <img src="../static/store/images/supergirl-banner.jpg" alt="">
                    <div class="overlay"></div>
                    <div class="hero-slide-item-content">
                        <div class="item-content-wraper">
                            <div class="item-content-title top-down">
                                Ecomy Socios™
                            </div>
                            <div class="movie-infos top-down delay-2">
                                <div class="movie-info">

                                    <i class="bx bxs-star"></i>

                                    <ul class="footer-menu">
                                        <li><a  style="font-weight: bold; color:#3ac3db; " href="#">1.4Mill</a></li>
                                    </ul>

                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    
                                    <ul class="footer-menu">
                                        <li><a  style="font-weight: bold; color:#3ac3db; " href="#">Google Play Store</a></li>
                                    </ul>
                                </div>
                                <div class="movie-info">
                                    
                                    <ul class="footer-menu">
                                        <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppStore</a></li>
                                    </ul>
                                </div>
                                <div class="movie-info">

                                    <ul class="footer-menu">
                                        <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppGallery</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-content-description top-down delay-4">
                                Registra tu empresa en ecomy™ y aumenta tus ventas sin necesidad de invertir de mas.
                            </div>
                            <div class="item-action top-down delay-6">
                                <a href=" {{url_for('.log')}}  " class="btn btn-hover">
                                    <i class="bx bxs-right-arrow"></i>
                                    <span>Iniciar aplicacion</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SLIDE ITEM -->

                <!-- SLIDE ITEM -->
                <div class="hero-slide-item">
                    <img src="../static/store/images/supergirl-banner.jpg" alt="">
                    <div class="overlay"></div>
                    <div class="hero-slide-item-content">
                        <div class="item-content-wraper">
                            <div class="item-content-title top-down">
                                Hospital virtual ecom™
                            </div>
                            <div class="movie-infos top-down delay-2">
                                <div class="movie-info">

                                    <i class="bx bxs-star"></i>

                                    <ul class="footer-menu">
                                        <li><a  style="font-weight: bold; color:#3ac3db; " href="#">1.4Mill</a></li>
                                    </ul>

                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    
                                    <ul class="footer-menu">
                                        <li><a  style="font-weight: bold; color:#3ac3db; " href="#">Google Play Store</a></li>
                                    </ul>
                                </div>
                                <div class="movie-info">
                                    
                                    <ul class="footer-menu">
                                        <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppStore</a></li>
                                    </ul>
                                </div>
                                <div class="movie-info">

                                    <ul class="footer-menu">
                                        <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppGallery</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-content-description top-down delay-4">
                                Ecom Hospital™ tienes tu propio Medico especializado a la hora que lo necesites. Consultas medicas, preparacion de citas cuando la necesites, sin esperas en tus examenes y mas.<br>Pago <b> mensual por suscropcion no por consulta.</b>
                            </div>
                            <div class="item-action top-down delay-6">
                                <a href="#" class="btn btn-hover">
                                    <i class="bx bxs-right-arrow"></i>
                                    <span>Descargar aplicacion</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SLIDE ITEM -->

                <!-- SLIDE ITEM -->
                <div class="hero-slide-item">
                    <img src="../static/store/images/supergirl-banner.jpg" alt="">
                    <div class="overlay"></div>
                    <div class="hero-slide-item-content">
                        <div class="item-content-wraper">
                            <div class="item-content-title top-down">
                                Ecom Security™
                            </div>
                            <div class="movie-infos top-down delay-2">
                                <div class="movie-info">

                                    <i class="bx bxs-star"></i>

                                    <ul class="footer-menu">
                                        <li><a  style="font-weight: bold; color:#3ac3db; " href="#">1.4Mill</a></li>
                                    </ul>

                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    
                                    <ul class="footer-menu">
                                        <li><a  style="font-weight: bold; color:#3ac3db; " href="#">Google Play Store</a></li>
                                    </ul>
                                </div>
                                <div class="movie-info">
                                    
                                    <ul class="footer-menu">
                                        <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppStore</a></li>
                                    </ul>
                                </div>
                                <div class="movie-info">

                                    <ul class="footer-menu">
                                        <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppGallery</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-content-description top-down delay-4">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, possimus eius. Deserunt non odit, cum vero reprehenderit laudantium odio vitae autem quam, incidunt molestias ratione mollitia accusantium, facere ab suscipit.
                            </div>
                            <div class="item-action top-down delay-6">
                                <a href="#" class="btn btn-hover">
                                    <i class="bx bxs-right-arrow"></i>
                                    <span>Ir</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SLIDE ITEM -->
                <!-- SLIDE ITEM -->
                <div class="hero-slide-item">
                    <img src="../static/store/images/wanda-banner.jpg" alt="">
                    <div class="overlay"></div>
                    <div class="hero-slide-item-content">
                        <div class="item-content-wraper">
                            <div class="item-content-title top-down">
                                Ecomy Repartidores™
                            </div>
                            <div class="movie-infos top-down delay-2">
                                <div class="movie-info">

                                    <i class="bx bxs-star"></i>

                                    <ul class="footer-menu">
                                        <li><a  style="font-weight: bold; color:#3ac3db; " href="#">1.4Mill</a></li>
                                    </ul>

                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    
                                    <ul class="footer-menu">
                                        <li><a  style="font-weight: bold; color:#3ac3db; " href="#">Google Play Store</a></li>
                                    </ul>
                                </div>
                                <div class="movie-info">
                                    
                                    <ul class="footer-menu">
                                        <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppStore</a></li>
                                    </ul>
                                </div>
                                <div class="movie-info">

                                    <ul class="footer-menu">
                                        <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppGallery</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-content-description top-down delay-4">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, possimus eius. Deserunt non odit, cum vero reprehenderit laudantium odio vitae autem quam, incidunt molestias ratione mollitia accusantium, facere ab suscipit.
                            </div>
                            <div class="item-action top-down delay-6">
                                <a href="#" class="btn btn-hover">
                                    <i class="bx bxs-right-arrow"></i>
                                    <span>Descargar</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SLIDE ITEM -->
            </div>
        </div>
        <!-- END HERO SLIDE -->





        <!-- TOP MOVIES SLIDE -->
        <div class="top-movies-slide">
            <div class="owl-carousel" id="top-movies-slide">
                <!-- MOVIE ITEM -->
                <div class="movie-item">
                    <img src="../static/store/images/series/supergirl.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            Ecomy Delivery™
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">

                                <i class="bx bxs-star"></i>

                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">1.4Mill</a></li>
                                </ul>

                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                
                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">Google Play Store</a></li>
                                </ul>
                            </div>
                            <div class="movie-info">
                                
                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppStore</a></li>
                                </ul>
                            </div>
                            <div class="movie-info">

                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppGallery</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <div class="movie-item">
                    <img src="../static/store/images/movies/captain-marvel.png" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            Socios ecomy™
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">

                                <i class="bx bxs-star"></i>

                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">1.4Mill</a></li>
                                </ul>

                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                
                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">Google Play Store</a></li>
                                </ul>
                            </div>
                            <div class="movie-info">
                                
                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppStore</a></li>
                                </ul>
                            </div>
                            <div class="movie-info">

                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppGallery</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <div class="movie-item">
                    <img src="../static/store/images/cartoons/demon-slayer.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            Repartidores ecom™
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">

                                <i class="bx bxs-star"></i>

                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">1.4Mill</a></li>
                                </ul>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">Google Play Store</a></li>
                                </ul>
                            </div>
                            <div class="movie-info">
                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppStore</a></li>
                                </ul>
                            </div>
                            <div class="movie-info">
                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppGallery</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MOVIE ITEM -->
                <div class="movie-item">
                    <img src="../static/store/images/movies/bat-man.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            Ecom Security™
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">

                                <i class="bx bxs-star"></i>

                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">1.4Mill</a></li>
                                </ul>

                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                
                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">Google Play Store</a></li>
                                </ul>
                            </div>
                            <div class="movie-info">
                                
                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppStore</a></li>
                                </ul>
                            </div>
                            <div class="movie-info">

                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppGallery</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <div class="movie-item">
                    <img src="../static/store/images/movies/blood-shot.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            MundiMall™
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">

                                <i class="bx bxs-star"></i>

                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">1.4Mill</a></li>
                                </ul>

                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                
                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">Google Play Store</a></li>
                                </ul>
                            </div>
                            <div class="movie-info">
                                
                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppStore</a></li>
                                </ul>
                            </div>
                            <div class="movie-info">

                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppGallery</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <div class="movie-item">
                    <img src="../static/store/images/series/wanda.png" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            Hospital virtual ecom™
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">

                                <i class="bx bxs-star"></i>

                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">1.4Mill</a></li>
                                </ul>

                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                
                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">Google Play Store</a></li>
                                </ul>
                            </div>
                            <div class="movie-info">
                                
                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppStore</a></li>
                                </ul>
                            </div>
                            <div class="movie-info">

                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppGallery</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <div class="movie-item">
                    <img src="../static/store/images/movies/bat-man.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            Ecom Security™
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">

                                <i class="bx bxs-star"></i>

                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">1.4Mill</a></li>
                                </ul>

                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                
                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">Google Play Store</a></li>
                                </ul>
                            </div>
                            <div class="movie-info">
                                
                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppStore</a></li>
                                </ul>
                            </div>
                            <div class="movie-info">

                                <ul class="footer-menu">
                                    <li><a  style="font-weight: bold; color:#3ac3db; " href="#">AppGallery</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END MOVIE ITEM -->
            </div>
        </div>










        <!-- END TOP MOVIES SLIDE -->
    </div>
    <!-- END HERO SECTION -->

    <!-- SPECIAL MOVIE SECTION -->
    <div class="section">
        <div class="hero-slide-item">
            <img src="../static/store/images/transformer-banner.jpg" alt="">
            <div class="overlay"></div>
            <div class="hero-slide-item-content">
                <div class="item-content-wraper">
                    <div class="item-content-title">
                        ECOMYCR™
                    </div>
                    
                    <div class="item-content-description">
                        Encontraras tus apps preferidas en<b> Ecomycr, Inn. Variedad de empresas registradas con abundantes productos, <b>Express gratis</b> con entrega inmediata, compra lo que necesites sin salir de <b>casa.</b><br><br>
                            <ul class="footer-menu">
                                <li><a style="font-weight: bold;  color:#3ac3db;  " href="#">Ecomy delivery™</a></li>
                            </ul>
                            <ul class="footer-menu">
                                <li><a style="font-weight: bold;  color:#3ac3db;  " href=" {{url_for('.log')}}  ">Socios ecomy™</a></li>
                            </ul>
                            <ul class="footer-menu">
                                <li><a  style="font-weight: bold; color:#3ac3db; " href="#">Repartidores ecom™</a></li>
                            </ul>
                            <ul class="footer-menu">
                                <li><a  style="font-weight: bold; color:#e9ceab;" href="#">MundiMall™</a></li>
                            </ul>
                            <ul class="footer-menu">
                                <li><a  style="font-weight: bold; color:#829dee;" href="#">Hospital virtual ecom™</a></li>
                            </ul>
                            <ul class="footer-menu">
                                <li><a  style="font-weight: bold;  color:#af9c9c;"" href="#">Ecom Security™</a></li>
                            </ul>
                                
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>


                                    <ul class="footer-menu">
                                        <li><a href="#">3.8Mill</a></li>
                                    </ul>


                                
                                </div>
                                <div class="movie-info" style="margin-left: 5%;>
                                    <i class="bx bxs-time"></i> 
                                    <ul class="footer-menu">
                                        <li><a href="#">Google Play Store</a></li>
                                    </ul>

                                </div>
                                <div class="movie-info" style="margin-left: 5%;">
                                    <ul class="footer-menu">
                                        <li><a href="#">App Store</a></li>
                                    </ul>
    
                                </div>
                                <div class="movie-info" style="margin-left: 5%; ">
                                    <ul class="footer-menu">
                                        <li><a href="#">AppGallery</a></li>
                                    </ul>

                                </div>
                            </div>
                    </div>
                            
                </div>
            </div>
        </div>
    </div>
    <!-- END SPECIAL MOVIE SECTION -->


    <!-- FOOTER SECTION -->
    <footer class="section">
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-6 col-sm-12">
                    <div class="content">
                        <a href="#" class="logo">
                            <i class='bx bx-moon bx-tada main-color'></i>Ecomy<span class="main-color">cr™</span>
                        </a>
                        <p>
                            Ecomycr™ es la empresa de programacion y Delivery preferida en Costa Rica, express, encargos personalizados, entregas inmediatas.<br>Compra lo que necesites sin salir de casa y/o aumenta tus ventas sin gastar de mas <b>ecomycr™</b> <br> Encuentranos en
                        </p>

                        <div class="col-3 col-md-6 col-sm-6">
                            <div class="content">
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">
                                            <img src="../static/store/images/google-play.png" alt="">
                                        </a>
                                        <a href="#">
                                            <img src="../static/store/images/app-store.png" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="social-list">
                            <a href="#" class="social-item">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="bx bxl-twitter"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-8 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-3 col-md-6 col-sm-6">
                            <div class="content">
                                <p><b>Sobre nosotros</b></p>
                                <hr>
                                <ul class="footer-menu">
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">My profile</a></li>
                                    <li><a href="#">Pricing plans</a></li>
                                    <li><a href="#">Contacts</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3 col-md-6 col-sm-6">
                            <div class="content">
                                <p><b>Servicio al cliente</b></p><hr>
                                <ul class="footer-menu">
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">My profile</a></li>
                                    <li><a href="#">Pricing plans</a></li>
                                    <li><a href="#">Contacts</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER SECTION -->

    <!-- COPYRIGHT SECTION -->
    <div class="copyright">
        <a href="#" target="_blank">@Copyright 2022 ecomycr™ 
            </a>
    </div>
    <!-- END COPYRIGHT SECTION -->

    <!-- SCRIPT -->
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- OWL CAROUSEL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
    <!-- APP SCRIPT -->
    <script src="../static/store/js/app.js"></script>

</body>

</html>